.App {
  /* text-align: center; */
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

:root {
  --bg-color: #121212; /* Dark background */
  --text-color: #e8eaed; /* Light text */
  --input-bg: #303134; /* Dark input background */
  --input-text: #e8eaed; /* Light input text */
  --input-border: #5f6368; /* Dark input border */
  --primary-color: #1a73e8; /* Blue primary color */
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form {
  width: 100%;
  max-width: 600px;
}

div {
  display: flex; /* Use flexbox for checkbox alignment */
  align-items: center; /* Vertically align items */
  margin-bottom: 15px; /* Add space between rows */
}

label {
  display: inline-block; /* Allow inline alignment */
  margin-right: 10px; /* Add space between label and checkbox */
  font-weight: 600;
}

input[type="text"],
input[type="number"],
input[type="range"],
select,
textarea {
  width: calc(100%);
  height: max-content;
  padding: 10px;
  /* margin-bottom: 15px; */
  border: 1px solid var(--input-border);
  border-radius: 4px;
  background-color: var(--input-bg);
  color: var(--input-text);
  box-sizing: border-box;
}

input[type="range"] {
  width: calc(100% - 80px);
  display: inline-block;
  padding: 0px;
  border: 0px;
}

input[type="checkbox"] {
  margin: 0;
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.appTitle {
  font-size: xx-large;
  padding-bottom: 10%;
  text-align: center;
}

.submitBtn {
  margin-top: 10%;
  font-size: large;
}

.resultDiv {
  display: block;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* For Firefox */
  appearance: textfield;
}

.form-row {
  display: flex;
  justify-content: space-between; /* Distribute space evenly */
  gap: 20px; /* Add some space between items */
  margin-bottom: 15px; /* Add spacing below the row */
}

.form-row > div {
  flex: 1; /* Each div takes equal width */
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Optional: semi-transparent background */
  z-index: 1000; /* Ensure it's on top */
}

/* Optional: Dim the form when loading */
form.loading {
  opacity: 0.5;
  pointer-events: none; /* Prevent interaction */
}
